@model AppVkontakte.ViewModels.SearchViewModel;


<div class="block-reg background-white d-flex">

    @if (Model.UserList != null && Model.UserList.Count != 0)
    {
        @foreach (var user in @Model.UserList)
        {
            <div>
                <div class="mrgn center-align">
                    <img src="@user.Image" class="ava" />
                </div>
                <div class="mrgn center-align">
                    @user.GetFullName()
                </div>
                <div class="mrgn center-align">
                    @if (!@user.IsFriendWithCurrent)
                    {
                        <form asp-controller="AccountManager" asp-action="AddFriend" asp-route-id="@user.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-primary">
                                Добавить в друзья
                            </button>
                        </form>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <label> Поиск не дал результатов.</label>
    }
</div>